@page "/StronkaXD"

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-8 p-10" style="padding-left:25px;padding-top:10px">
            <div class="card-deck pb-5">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="card bg-dark text-center">
                        <img class="card-img-top" src="@guns[i].ImageUrl">
                        <div class="card-body">
                            <h5 class="card-title text-white">@guns[i].Name:   @guns[i].Cost$</h5>
                            <a href="#" class="btn btn-warning">Add</a>
                            <a href="#" class="btn btn-info">Info</a>
                        </div>
                    </div>
                }
            </div>
            <div class="card-deck pb-5">
                @for (int i = 3; i < 6; i++)
                {
                    <div class="card bg-dark text-center">
                        <img class="card-img-top" src="@guns[i].ImageUrl">
                        <div class="card-body">
                            <h5 class="card-title text-white">@guns[i].Name:   @guns[i].Cost$</h5>
                            <a href="#" class="btn btn-warning">Add</a>
                            <a href="#" class="btn btn-info">Info</a>
                        </div>
                    </div>
                }
            </div>
            <div class="card-deck pb-5">
                @for (int i = 6; i < 9; i++)
                {
                    <div class="card bg-dark text-center">
                        <img class="card-img-top" src="@guns[i].ImageUrl">
                        <div class="card-body">
                            <h5 class="card-title text-white">@guns[i].Name:   @guns[i].Cost$</h5>
                            <a href="#" class="btn btn-warning">Add</a>
                            <a href="#" class="btn btn-info">Info</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-4 p-0">
            <div class="card bg-dark text-center h-100">
                <div class="card-body">
                    <h5 class="card-title text-white">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-warning">Add</a>
                    <a href="#" class="btn btn-info">Info</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code{ 
    List<Gun> guns = GunService.GunListCreator();

    int counter = 0;
}

